body {
	padding: 5px;
	width: 350px;
}

.logo {
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}

.set-username {
	display: inline-block;
}

.tools {
	font-size: 11px;
	margin: 10px 0;
	float: right;
}

.tools a {
	color: #333;
	display: inline-block;
	margin-left: 10px;
}

.tools a:first-child {
	margin-left: 0;
}

#connection-status {
	background: #ccc;
	border-radius: 5px;
	margin-left: 5px;
	display: inline-block;
	height: 8px;
	width: 8px;
	vertical-align: center;
}

#connection-status.status--connected { background: green; }
#connection-status.status--disconnected { background: red; }

#disconnect, #ping { display: none; }